In [2]:
import flattentool
import json
import csv
from anacocds_work import *

In [3]:
csv.QUOTE_NONE

3

In [4]:
data_dir ='../csv/2020/'
tmp_dir = '../csv/tmp/'
schema_dir = '../csv/'
out_dir = '../data/'




#cod_pa = '00080270838'
#cod_pa = '00097020598'
#cod_pa = '00104330493'
#cod_pa = '00124600685'
#cod_pa = '00125680033'
#cod_pa = '00137020871'
#cod_pa = '00147990923'
#cod_pa = '00162210348'
#cod_pa = '00163570542'
#cod_pa = '00175660554'
#cod_pa = '00215150236'
#cod_pa = '00221940364'
#cod_pa = '00229080338'
#cod_pa = '00239740905'
#cod_pa = '00297110389'
#cod_pa = '00304260409'
#cod_pa = '00339370272'
#cod_pa = '00351040423'
#cod_pa = '00354730392'
#cod_pa = '00355870221'
#cod_pa = '00389240219'
#cod_pa = '00514490010'
#cod_pa = '00606620409'
#cod_pa = '00644060287'
#cod_pa = '00856930102'
#cod_pa = '01199250158'
#cod_pa = '01232710374'
#cod_pa = '01307110484'
#cod_pa = '02030880153' 
#cod_pa = '80000330656'
#cod_pa = '80015010723'
#cod_pa = '80016350821'
#cod_pa = '80025760820'
#cod_pa = '80049220637'
#cod_pa = '81001210723'
cod_pa = '84006890481'


work_dir = data_dir + cod_pa

In [5]:
agg_input = read_aggiudicatari(work_dir)

agg_input.head()

,n,cig,codiceFiscale,ragioneSociale,ruolo,identificativoFiscaleEstero,aggrgrno,lottoID,ocid
0,1,IDM3,IT-CF-NAN,NaN,NaN,NAN,NaN,idm3,ocds-bxokds-IDM3
1,2,IDM15,IT-CF-02213820208,Publika srl,NaN,NAN,NaN,idm15,ocds-bxokds-IDM15
2,3,IDM35,IT-CF-84006890481,Corpo di Polizia Municipale,NaN,NAN,NaN,idm35,ocds-bxokds-IDM35
3,4,IDM55,IT-CF-NAN,NaN,NaN,NAN,NaN,idm55,ocds-bxokds-IDM55
4,5,IDM67,IT-CF-02213820208,Publika srl,NaN,NAN,NaN,idm67,ocds-bxokds-IDM67

In [17]:
par_input = read_partecipanti(work_dir)

par_input.head()

,n,cig,codiceFiscale,ragioneSociale,ruolo,identificativoFiscaleEstero,partrgrno,lottoID,ocid
0,1,IDM3,IT-CF-NAN,NaN,NaN,NAN,NaN,idm3,ocds-bxokds-IDM3
1,2,IDM15,IT-CF-02213820208,Publika srl,NaN,NAN,NaN,idm15,ocds-bxokds-IDM15
2,3,IDM35,IT-CF-84006890481,Corpo di Polizia Municipale,NaN,NAN,NaN,idm35,ocds-bxokds-IDM35
3,4,IDM55,IT-CF-NAN,NaN,NaN,NAN,NaN,idm55,ocds-bxokds-IDM55
4,5,IDM67,IT-CF-02213820208,Publika,NaN,NAN,NaN,idm67,ocds-bxokds-IDM67

In [18]:

lot_input = read_lotti(work_dir)

lot_input.head()

,n,cig,strutturaProponente:codiceFiscaleProp,strutturaProponente:denominazione,importoAggiudicazione,importoSommeLiquidate,oggetto,sceltaContraente,tempiCompletamento:dataInizio,tempiCompletamento:dataUltimazione,lottoID,ocid
0,1,IDM3,IT-CF-84006890481,Comune di Prato,111.00,0.00,Solenni Alessandro - Autorizzazione svolgiment...,01-PROCEDURA APERTA,NaN,NaN,idm3,ocds-bxokds-IDM3
1,2,IDM15,IT-CF-84006890481,Comune di Prato,370.00,0.00,Partecipazione di un dipendente a corso di for...,23-AFFIDAMENTO DIRETTO,2019-02-18T09:30:00Z,2019-03-13T09:30:00Z,idm15,ocds-bxokds-IDM15
2,3,IDM35,IT-CF-84006890481,Comune di Prato,284.26,284.26,Rimborso tramite economo di spesa per l'acquis...,23-AFFIDAMENTO DIRETTO,2019-01-23T09:30:00Z,2019-02-07T09:30:00Z,idm35,ocds-bxokds-IDM35
3,4,IDM55,IT-CF-84006890481,Comune di Prato,7.00,0.00,Consiag Servizi Comuni- Giardini via Vulcano -...,24-AFFIDAMENTO DIRETTO A SOCIETA' IN HOUSE,NaN,NaN,idm55,ocds-bxokds-IDM55
4,5,IDM67,IT-CF-84006890481,Comune di Prato,370.00,0.00,Liquidazione corso formazione:,23-AFFIDAMENTO DIRETTO,2019-02-18T09:30:00Z,2019-03-13T09:30:00Z,idm67,ocds-bxokds-IDM67

In [20]:



releases = create_releases(lot_input, '2020-10-15T00:00:00Z', 'award', 'tender')

releases.head()

,ocid,id,date,tag,initiationType,buyer/name,buyer/id,tender/id,tender/title,tender/procuringEntity/name,tender/procuringEntity/id,tender/items/id,tender/procurementMethodDetails,tender/contractPeriod/startDate,tender/contractPeriod/endDate
0,ocds-bxokds-IDM3,IDM3,2020-10-15T00:00:00Z,award,tender,Comune di Prato,IT-CF-84006890481,IDM3,Solenni Alessandro - Autorizzazione svolgiment...,NaN,IT-CF-84006890481,NaN,01-PROCEDURA APERTA,NaN,NaN
1,ocds-bxokds-IDM15,IDM15,2020-10-15T00:00:00Z,award,tender,Comune di Prato,IT-CF-84006890481,IDM15,Partecipazione di un dipendente a corso di for...,NaN,IT-CF-84006890481,NaN,23-AFFIDAMENTO DIRETTO,2019-02-18T09:30:00Z,2019-03-13T09:30:00Z
2,ocds-bxokds-IDM35,IDM35,2020-10-15T00:00:00Z,award,tender,Comune di Prato,IT-CF-84006890481,IDM35,Rimborso tramite economo di spesa per l'acquis...,NaN,IT-CF-84006890481,NaN,23-AFFIDAMENTO DIRETTO,2019-01-23T09:30:00Z,2019-02-07T09:30:00Z
3,ocds-bxokds-IDM55,IDM55,2020-10-15T00:00:00Z,award,tender,Comune di Prato,IT-CF-84006890481,IDM55,Consiag Servizi Comuni- Giardini via Vulcano -...,NaN,IT-CF-84006890481,NaN,24-AFFIDAMENTO DIRETTO A SOCIETA' IN HOUSE,NaN,NaN
4,ocds-bxokds-IDM67,IDM67,2020-10-15T00:00:00Z,award,tender,Comune di Prato,IT-CF-84006890481,IDM67,Liquidazione corso formazione:,NaN,IT-CF-84006890481,NaN,23-AFFIDAMENTO DIRETTO,2019-02-18T09:30:00Z,2019-03-13T09:30:00Z

In [9]:

parties = create_parties(par_input, agg_input)

parties.head()

,ocid,id,parties/0/name,parties/0/id,parties/0/roles,parties/0/memberOf/id,parties/0/memberOf/name
index,,,,,,,
0,ocds-bxokds-7653900616,7653900616,GHIORI DI MARCO E CLAUDIO GHIORI,IT-CF-05133380484,tenderer,NaN,NaN
1,ocds-bxokds-7653900616,7653900616,IDROCLIMA G.V. DI GRIPPO VITO,IT-CF-GRPVTI68B25D403F,tenderer,NaN,NaN
2,ocds-bxokds-7653900616,7653900616,TECNO TRADE INTERNATIONAL SRL,IT-CF-04517430486,tenderer,NaN,NaN
3,ocds-bxokds-7653900616,7653900616,BRUNETTI COSTRUZIONI SRL,IT-CF-02349410973,tenderer,NaN,NaN
4,ocds-bxokds-7653900616,7653900616,GHERI SRL,IT-CF-02106440973,tenderer,NaN,NaN
...,...,...,...,...,...,...,...
2975,ocds-bxokds-ZF92952DB4,ZF92952DB4,PEDRINI LORIS,IT-CF-03664810482,supplier;tenderer,NaN,NaN
2976,ocds-bxokds-ZF92A9CC8C,ZF92A9CC8C,FONDERIA CULTART COOP.SOC.ONLUS,IT-CF-02178940975,supplier;tenderer,NaN,NaN
2977,ocds-bxokds-ZF92B2D47E,ZF92B2D47E,Libera Caccia,IT-CF-92054560484,supplier;tenderer,NaN,NaN
2978,ocds-bxokds-ZFA2857526,ZFA2857526,TELEPASS SPA,IT-CF-09771701001,supplier;tenderer,NaN,NaN
2979,ocds-bxokds-ZFA286A227,ZFA286A227,PAPINI MATTEO,IT-CF-01959690973,supplier;tenderer,NaN,NaN

In [10]:



tende_tenderers = create_tende_tenderers(par_input)

tende_tenderers.head()

,ocid,id,tender/id,tender/tenderers/0/name,tender/tenderers/0/id
0,ocds-bxokds-IDM3,IDM3,IDM3,NaN,IT-CF-NAN
1,ocds-bxokds-IDM15,IDM15,IDM15,Publika srl,IT-CF-02213820208
2,ocds-bxokds-IDM35,IDM35,IDM35,Corpo di Polizia Municipale,IT-CF-84006890481
3,ocds-bxokds-IDM55,IDM55,IDM55,NaN,IT-CF-NAN
4,ocds-bxokds-IDM67,IDM67,IDM67,Publika,IT-CF-02213820208
...,...,...,...,...,...
2971,ocds-bxokds-ZF92952DB4,ZF92952DB4,ZF92952DB4,PEDRINI LORIS,IT-CF-03664810482
2972,ocds-bxokds-ZF92A9CC8C,ZF92A9CC8C,ZF92A9CC8C,Fonderia Cultart,IT-CF-02178940975
2973,ocds-bxokds-ZF92B2D47E,ZF92B2D47E,ZF92B2D47E,ASSOCIAZIONE VENATORIA LIBERA CACCIA,IT-CF-92054560484
2974,ocds-bxokds-ZFA2857526,ZFA2857526,ZFA2857526,TELEPASS SPA,IT-CF-09771701001
2975,ocds-bxokds-ZFA286A227,ZFA286A227,ZFA286A227,PAPINI MATTEO,IT-CF-01959690973

In [11]:

awards = create_awards(lot_input)


awards.head()

                        ocid          id awards/0/id  awards/0/value/amount
0           ocds-bxokds-IDM3        IDM3        IDM3                 111.00
1          ocds-bxokds-IDM15       IDM15       IDM15                 370.00
2          ocds-bxokds-IDM35       IDM35       IDM35                 284.26
3          ocds-bxokds-IDM55       IDM55       IDM55                   7.00
4          ocds-bxokds-IDM67       IDM67       IDM67                 370.00
...                      ...         ...         ...                    ...
1606  ocds-bxokds-ZF92952DB4  ZF92952DB4  ZF92952DB4                3278.69
1607  ocds-bxokds-ZF92A9CC8C  ZF92A9CC8C  ZF92A9CC8C                 150.00
1608  ocds-bxokds-ZF92B2D47E  ZF92B2D47E  ZF92B2D47E                2500.00
1609  ocds-bxokds-ZFA2857526  ZFA2857526  ZFA2857526                1600.00
1610  ocds-bxokds-ZFA286A227  ZFA286A227  ZFA286A227                1466.40

[1611 rows x 4 columns]

In [12]:

awards_suppliers = create_awards_suppliers(agg_input)


#awards_suppliers.info()

In [13]:
contr_imple_transactions = create_contr_imple_transactions(lot_input)


contr_imple_transactions.head()

,ocid,id,contracts/0/id,contracts/0/implementation/transactions/0/id,contracts/0/implementation/transactions/0/value/amount
0,ocds-bxokds-IDM3,IDM3,IDM3,IDM3,0.00
1,ocds-bxokds-IDM15,IDM15,IDM15,IDM15,0.00
2,ocds-bxokds-IDM35,IDM35,IDM35,IDM35,284.26
3,ocds-bxokds-IDM55,IDM55,IDM55,IDM55,0.00
4,ocds-bxokds-IDM67,IDM67,IDM67,IDM67,0.00

In [14]:


contracts = create_contracts(agg_input)

contracts

                        ocid          id contracts/0/awardID contracts/0/id
0           ocds-bxokds-IDM3        IDM3                IDM3           IDM3
1          ocds-bxokds-IDM15       IDM15               IDM15          IDM15
2          ocds-bxokds-IDM35       IDM35               IDM35          IDM35
3          ocds-bxokds-IDM55       IDM55               IDM55          IDM55
4          ocds-bxokds-IDM67       IDM67               IDM67          IDM67
...                      ...         ...                 ...            ...
1643  ocds-bxokds-ZF92952DB4  ZF92952DB4          ZF92952DB4     ZF92952DB4
1644  ocds-bxokds-ZF92A9CC8C  ZF92A9CC8C          ZF92A9CC8C     ZF92A9CC8C
1645  ocds-bxokds-ZF92B2D47E  ZF92B2D47E          ZF92B2D47E     ZF92B2D47E
1646  ocds-bxokds-ZFA2857526  ZFA2857526          ZFA2857526     ZFA2857526
1647  ocds-bxokds-ZFA286A227  ZFA286A227          ZFA286A227     ZFA286A227

[1648 rows x 4 columns]

In [15]:
write_out = os.path.join(tmp_dir, "releases.csv")
releases.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "parties.csv")
parties.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "tende_tenderers.csv")
tende_tenderers.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "awards.csv")
awards.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "awards_suppliers.csv")
awards_suppliers.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "contr_imple_transactions.csv")
contr_imple_transactions.to_csv (write_out, index = None, header=True) 

write_out = os.path.join(tmp_dir, "contracts.csv")
contracts.to_csv (write_out, index = None, header=True)

In [16]:

filename = 'ocds.json'
filename_dir = out_dir + 'IT-CF-' + cod_pa + '/'
out_path = os.path.join(filename_dir, filename)


if not os.path.exists(filename_dir):
    os.makedirs(filename_dir)


schema_path = os.path.join(schema_dir, 'release-schema.json')
base_path = os.path.join(work_dir, 'base.json')



flattentool.unflatten(tmp_dir, 
                        output_name = out_path,
                        input_format='csv',
                        root_id='ocid',
                        base_json = base_path, 
                        root_list_path='releases',
                        schema = schema_path
                        
                      
                        )