In [31]:
import flattentool
import json
import csv
from anacocds_work import *

In [32]:
csv.QUOTE_NONE

3

In [33]:
data_dir ='../csv/2020/'
tmp_dir = '../csv/tmp/'
schema_dir = '../csv/'
out_dir = '../data/'

date = '2020-10-15T00:00:00Z'


cod_pa = '00080270838'
#cod_pa = '00097020598'
#cod_pa = '00104330493'
#cod_pa = '00124600685'
#cod_pa = '00125680033'
#cod_pa = '00137020871'
#cod_pa = '00147990923'
#cod_pa = '00162210348'
#cod_pa = '00163570542'
#cod_pa = '00175660554'
#cod_pa = '00215150236'
#cod_pa = '00221940364'
#cod_pa = '00229080338'
#cod_pa = '00239740905'
#cod_pa = '00297110389'
#cod_pa = '00304260409'
#cod_pa = '00339370272'
#cod_pa = '00351040423'
#cod_pa = '00354730392'
#cod_pa = '00355870221'
#cod_pa = '00389240219'
#cod_pa = '00514490010'
#cod_pa = '00606620409'
#cod_pa = '00644060287'
#cod_pa = '00856930102'
#cod_pa = '01199250158'
#cod_pa = '01232710374'
#cod_pa = '01307110484'
#cod_pa = '02030880153' 
#cod_pa = '80000330656'
#cod_pa = '80015010723'
#cod_pa = '80016350821'
#cod_pa = '80025760820'
#cod_pa = '80049220637'
#cod_pa = '81001210723'
#cod_pa = '84006890481'


work_dir = data_dir + cod_pa

In [34]:
agg_input = read_aggiudicatari(work_dir, cod_pa)

agg_input.head()

,n,cig,codiceFiscale,ragioneSociale,ruolo,identificativoFiscaleEstero,aggrgrno,lottoID,ocid
0,1,Z1A28A23B2,IT-CF-02751560836,QUAGLIATA SRL,NaN,NAN,NaN,idm3,ocds-bxokds-Z1A28A23B2
1,2,80473134C4,IT-CF-02761050836,COGEDIS SRL,NaN,NAN,NaN,idm28,ocds-bxokds-80473134C4
2,3,Z572422694,IT-CF-01470090836,ANTONINO CHILLE' SRL,NaN,NAN,NaN,idm88,ocds-bxokds-Z572422694
3,4,7692761B31,IT-CF-01427991003,SINTEL ITALIA SPA,NaN,NAN,NaN,idm118,ocds-bxokds-7692761B31
4,5,Z8B2A793A4,IT-CF-02501390831,ASS. CULTURALE TURISTICA SOCIALE MUSICALEBANDA...,NaN,NAN,NaN,idm136,ocds-bxokds-Z8B2A793A4

In [35]:
par_input = read_partecipanti(work_dir, cod_pa)

par_input.head()

,n,cig,codiceFiscale,ragioneSociale,ruolo,identificativoFiscaleEstero,partrgrno,lottoID,ocid
0,1,Z1A28A23B2,IT-CF-02751560836,QUAGLIATA SRL,NaN,NAN,NaN,idm3,ocds-bxokds-Z1A28A23B2
1,1,Z1A28A23B2,IT-CF-000000,CARTOLERIA SAVASTA,NaN,NAN,NaN,idm3,ocds-bxokds-Z1A28A23B2
2,1,Z1A28A23B2,IT-CF-03259040834,CARTOLERIA CENTRO OFFICE,NaN,NAN,NaN,idm3,ocds-bxokds-Z1A28A23B2
3,2,80473134C4,IT-CF-02122600832,URANIA COSTRUZIONI SRL,NaN,NAN,NaN,idm28,ocds-bxokds-80473134C4
4,2,80473134C4,IT-CF-03049590833,MESSINA NOLEGGI SRL,NaN,NAN,NaN,idm28,ocds-bxokds-80473134C4

In [36]:

lot_input = read_lotti(work_dir, cod_pa)

lot_input.head()

,n,cig,strutturaProponente:codiceFiscaleProp,strutturaProponente:denominazione,importoAggiudicazione,importoSommeLiquidate,oggetto,sceltaContraente,tempiCompletamento:dataInizio,tempiCompletamento:dataUltimazione,lottoID,ocid
0,1,Z1A28A23B2,IT-CF-00080270838,DIPARTIMENTO POLITICHE CULTURALI ED EDUCATIVE ...,1955.22,1955.22,SCUOLA ANTICHI MESTIERI - ACQUISTO CANCELLERIA,23-AFFIDAMENTO DIRETTO,2019-06-06T09:30:00Z,NaN,idm3,ocds-bxokds-Z1A28A23B2
1,2,80473134C4,IT-CF-00080270838,DIPARTIMENTO PROTEZIONE CIVILE E DIFESA DEL SUOLO,415979.20,0.00,Interventi preventivi di mitigazione dei risch...,04-PROCEDURA NEGOZIATA SENZA PREVIA PUBBLICAZI...,NaN,NaN,idm28,ocds-bxokds-80473134C4
2,3,Z572422694,IT-CF-00080270838,Dipartimento Politiche del Territorio,14819.40,0.00,fornitura e posa in opera di targhe topo-nomas...,04-PROCEDURA NEGOZIATA SENZA PREVIA PUBBLICAZI...,NaN,NaN,idm88,ocds-bxokds-Z572422694
3,4,7692761B31,IT-CF-00080270838,DIPARTIMENTO POLIZIA MUNICIPALE,1500.00,0.00,CORSO DI FORMAZIONE SULL'UTILIZZO DEL SISTEMA ...,23-AFFIDAMENTO DIRETTO,NaN,NaN,idm118,ocds-bxokds-7692761B31
4,5,Z8B2A793A4,IT-CF-00080270838,SERVIZI ALLA PERSONA E ALLE IMPRESE,1200.00,1200.00,Affidamento in occasione della Festa delle For...,23-AFFIDAMENTO DIRETTO,2019-11-04T09:30:00Z,2019-11-04T09:30:00Z,idm136,ocds-bxokds-Z8B2A793A4

In [37]:



releases = create_releases(lot_input, date)

releases.head()

,ocid,id,date,tag,initiationType,buyer/name,buyer/id,tender/id,tender/title,tender/procuringEntity/name,tender/procuringEntity/id,tender/items/id,tender/procurementMethodDetails,tender/contractPeriod/startDate,tender/contractPeriod/endDate
0,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,2020-10-15T00:00:00Z,tender; award; contract; implementation,tender,DIPARTIMENTO POLITICHE CULTURALI ED EDUCATIVE ...,IT-CF-00080270838,Z1A28A23B2,SCUOLA ANTICHI MESTIERI - ACQUISTO CANCELLERIA,DIPARTIMENTO POLITICHE CULTURALI ED EDUCATIVE ...,IT-CF-00080270838,NaN,23-AFFIDAMENTO DIRETTO,2019-06-06T09:30:00Z,NaN
1,ocds-bxokds-80473134C4,ocds-bxokds-80473134C4-2020-10-15T00:00:00Z,2020-10-15T00:00:00Z,tender; award; contract; implementation,tender,DIPARTIMENTO PROTEZIONE CIVILE E DIFESA DEL SUOLO,IT-CF-00080270838,80473134C4,Interventi preventivi di mitigazione dei risch...,DIPARTIMENTO PROTEZIONE CIVILE E DIFESA DEL SUOLO,IT-CF-00080270838,NaN,04-PROCEDURA NEGOZIATA SENZA PREVIA PUBBLICAZI...,NaN,NaN
2,ocds-bxokds-Z572422694,ocds-bxokds-Z572422694-2020-10-15T00:00:00Z,2020-10-15T00:00:00Z,tender; award; contract; implementation,tender,Dipartimento Politiche del Territorio,IT-CF-00080270838,Z572422694,fornitura e posa in opera di targhe topo-nomas...,Dipartimento Politiche del Territorio,IT-CF-00080270838,NaN,04-PROCEDURA NEGOZIATA SENZA PREVIA PUBBLICAZI...,NaN,NaN
3,ocds-bxokds-7692761B31,ocds-bxokds-7692761B31-2020-10-15T00:00:00Z,2020-10-15T00:00:00Z,tender; award; contract; implementation,tender,DIPARTIMENTO POLIZIA MUNICIPALE,IT-CF-00080270838,7692761B31,CORSO DI FORMAZIONE SULL'UTILIZZO DEL SISTEMA ...,DIPARTIMENTO POLIZIA MUNICIPALE,IT-CF-00080270838,NaN,23-AFFIDAMENTO DIRETTO,NaN,NaN
4,ocds-bxokds-Z8B2A793A4,ocds-bxokds-Z8B2A793A4-2020-10-15T00:00:00Z,2020-10-15T00:00:00Z,tender; award; contract; implementation,tender,SERVIZI ALLA PERSONA E ALLE IMPRESE,IT-CF-00080270838,Z8B2A793A4,Affidamento in occasione della Festa delle For...,SERVIZI ALLA PERSONA E ALLE IMPRESE,IT-CF-00080270838,NaN,23-AFFIDAMENTO DIRETTO,2019-11-04T09:30:00Z,2019-11-04T09:30:00Z

In [38]:

parties = create_parties(par_input, agg_input, lot_input, date)

parties.tail()

,ocid,id,parties/0/name,parties/0/id,parties/0/roles,parties/0/memberOf/id,parties/0/memberOf/name
index,,,,,,,
641,ocds-bxokds-Z7225AEAB4,ocds-bxokds-Z7225AEAB4-2020-10-15T00:00:00Z,DIPARTIMENTO SERVIZI FINANZIARI,IT-CF-00080270838,buyer; procuringEntity,NaN,NaN
642,ocds-bxokds-ZB32558FE1,ocds-bxokds-ZB32558FE1-2020-10-15T00:00:00Z,DIPARTIMENTO SERVIZI FINANZIARI,IT-CF-00080270838,buyer; procuringEntity,NaN,NaN
643,ocds-bxokds-Z9C25AEA42,ocds-bxokds-Z9C25AEA42-2020-10-15T00:00:00Z,DIPARTIMENTO SERVIZI FINANZIARI,IT-CF-00080270838,buyer; procuringEntity,NaN,NaN
644,ocds-bxokds-Z2C2674D4D,ocds-bxokds-Z2C2674D4D-2020-10-15T00:00:00Z,DIPARTIMENTO MOBILITÀ URBANA - VIABILITÀ,IT-CF-00080270838,buyer; procuringEntity,NaN,NaN
645,ocds-bxokds-ZC1213E3A2,ocds-bxokds-ZC1213E3A2-2020-10-15T00:00:00Z,Dipartimento Edilizia Privata,IT-CF-00080270838,buyer; procuringEntity,NaN,NaN

In [39]:



tende_tenderers = create_tende_tenderers(par_input, date)

tende_tenderers.head()

,ocid,id,tender/id,tender/tenderers/0/name,tender/tenderers/0/id
0,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,Z1A28A23B2,QUAGLIATA SRL,IT-CF-02751560836
1,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,Z1A28A23B2,CARTOLERIA SAVASTA,IT-CF-000000
2,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,Z1A28A23B2,CARTOLERIA CENTRO OFFICE,IT-CF-03259040834
3,ocds-bxokds-80473134C4,ocds-bxokds-80473134C4-2020-10-15T00:00:00Z,80473134C4,URANIA COSTRUZIONI SRL,IT-CF-02122600832
4,ocds-bxokds-80473134C4,ocds-bxokds-80473134C4-2020-10-15T00:00:00Z,80473134C4,MESSINA NOLEGGI SRL,IT-CF-03049590833

In [40]:

awards = create_awards(lot_input, date)


awards.head()

,ocid,id,awards/0/id,awards/0/value/amount
0,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,Z1A28A23B2,1955.22
1,ocds-bxokds-80473134C4,ocds-bxokds-80473134C4-2020-10-15T00:00:00Z,80473134C4,415979.20
2,ocds-bxokds-Z572422694,ocds-bxokds-Z572422694-2020-10-15T00:00:00Z,Z572422694,14819.40
3,ocds-bxokds-7692761B31,ocds-bxokds-7692761B31-2020-10-15T00:00:00Z,7692761B31,1500.00
4,ocds-bxokds-Z8B2A793A4,ocds-bxokds-Z8B2A793A4-2020-10-15T00:00:00Z,Z8B2A793A4,1200.00

In [41]:

awards_suppliers = create_awards_suppliers(agg_input, date)


#awards_suppliers.info()

In [42]:
contr_imple_transactions = create_contr_imple_transactions(lot_input, date)


contr_imple_transactions.head()

,ocid,id,contracts/0/id,contracts/0/implementation/transactions/0/id,contracts/0/implementation/transactions/0/value/amount
0,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,Z1A28A23B2,Z1A28A23B2,1955.22
1,ocds-bxokds-80473134C4,ocds-bxokds-80473134C4-2020-10-15T00:00:00Z,80473134C4,80473134C4,0.00
2,ocds-bxokds-Z572422694,ocds-bxokds-Z572422694-2020-10-15T00:00:00Z,Z572422694,Z572422694,0.00
3,ocds-bxokds-7692761B31,ocds-bxokds-7692761B31-2020-10-15T00:00:00Z,7692761B31,7692761B31,0.00
4,ocds-bxokds-Z8B2A793A4,ocds-bxokds-Z8B2A793A4-2020-10-15T00:00:00Z,Z8B2A793A4,Z8B2A793A4,1200.00

In [43]:


contracts = create_contracts(agg_input, date)

contracts

,ocid,id,contracts/0/awardID,contracts/0/id
0,ocds-bxokds-Z1A28A23B2,ocds-bxokds-Z1A28A23B2-2020-10-15T00:00:00Z,Z1A28A23B2,Z1A28A23B2
1,ocds-bxokds-80473134C4,ocds-bxokds-80473134C4-2020-10-15T00:00:00Z,80473134C4,80473134C4
2,ocds-bxokds-Z572422694,ocds-bxokds-Z572422694-2020-10-15T00:00:00Z,Z572422694,Z572422694
3,ocds-bxokds-7692761B31,ocds-bxokds-7692761B31-2020-10-15T00:00:00Z,7692761B31,7692761B31
4,ocds-bxokds-Z8B2A793A4,ocds-bxokds-Z8B2A793A4-2020-10-15T00:00:00Z,Z8B2A793A4,Z8B2A793A4
...,...,...,...,...
674,ocds-bxokds-Z7225AEAB4,ocds-bxokds-Z7225AEAB4-2020-10-15T00:00:00Z,Z7225AEAB4,Z7225AEAB4
675,ocds-bxokds-ZB32558FE1,ocds-bxokds-ZB32558FE1-2020-10-15T00:00:00Z,ZB32558FE1,ZB32558FE1
676,ocds-bxokds-Z9C25AEA42,ocds-bxokds-Z9C25AEA42-2020-10-15T00:00:00Z,Z9C25AEA42,Z9C25AEA42
677,ocds-bxokds-Z2C2674D4D,ocds-bxokds-Z2C2674D4D-2020-10-15T00:00:00Z,Z2C2674D4D,Z2C2674D4D
678,ocds-bxokds-ZC1213E3A2,ocds-bxokds-ZC1213E3A2-2020-10-15T00:00:00Z,ZC1213E3A2,ZC1213E3A2

In [44]:
write_out = os.path.join(tmp_dir, "releases.csv")
releases.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "parties.csv")
parties.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "tende_tenderers.csv")
tende_tenderers.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "awards.csv")
awards.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "awards_suppliers.csv")
awards_suppliers.to_csv (write_out, index = None, header=True) 


write_out = os.path.join(tmp_dir, "contr_imple_transactions.csv")
contr_imple_transactions.to_csv (write_out, index = None, header=True) 

write_out = os.path.join(tmp_dir, "contracts.csv")
contracts.to_csv (write_out, index = None, header=True)

In [45]:

filename = 'ocds.json'
filename_dir = out_dir + 'IT-CF-' + cod_pa + '/'
out_path = os.path.join(filename_dir, filename)


if not os.path.exists(filename_dir):
    os.makedirs(filename_dir)


schema_path = os.path.join(schema_dir, 'release-schema.json')
base_path = os.path.join(work_dir, 'base.json')



flattentool.unflatten(tmp_dir, 
                        output_name = out_path,
                        input_format='csv',
                        root_id='ocid',
                        base_json = base_path, 
                        root_list_path='releases',
                        schema = schema_path
                        
                      
                        )